//componenets (button, anchor tags, heading tags etc)
body {
    color: $black;
    font-size: 16px;
    @include secondary-font;
    &.wp-admin {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }
}

html {
    font-size: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include primary-font;
}

h1,
.h1 {
    font-size: 38px;
    color: $black;
    font-weight: 700;
    margin-bottom: 16px;
}

h2,
.h2 {
    font-size: 32px;
    color: $black;
    font-weight: 700;
    margin-bottom: 16px;
}

h3,
.h3 {
    font-size: 24px;
    color: $black;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 21px;
    color: $black;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 16px;
    color: $black;
    font-weight: 600;
    text-transform: none;
}

h6,
.h6 {
    font-size: 15px;
    text-transform: none;
    @include secondary-font;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
}

p {
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    @include secondary-font;
}

p.has-large-font-size {
    font-size: 26px !important;
    line-height: 36px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


// p+ul,
// p+ol {
//     margin-top: -15px;
// }
ul,
ol {
    margin-bottom: 24px;
    padding-left: 48px;
}
label{
    color: var(--Black, #000);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
a {
    color: $darkblue;
    font-weight: 600;
    &:hover {
        color: #14213f;
        text-decoration: underline;
        text-decoration-style: solid !important;
    }
}

p a {
    color: $darkblue;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: solid !important;
    &:hover {
        color: $secondary;
        text-decoration: underline;
    }
}

p a:hover {}

b,
strong {
    font-weight: 700;
}

//general rules
.link {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    img {
        max-width: 18px;
        margin-left: 6px;
    }
    &:hover {
        color: $primary;
    }
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.btn_sm {
    color: $white;
    padding: 12px 28px;
    display: inline-block;
    text-align: center;
    position: relative;
    background: none;
    font-family: $primary-font;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    background-color: $secondary;
    border-radius: 10px;
    min-width: 180px;
    &:hover,
    &:focus-within {
        background: $primary;
        color: $white;
        text-decoration: none;
        img {}
    }
    img {
        margin-left: 7px;
    }
    &:focus {
        color: #000;
    }
    &.secondary {
        background-color: $sand-light;
        color: $black;
        min-width: 144px;
        &:hover{
            background: $sand;
            color: #000;
        }
      
    }   
}

.container {
    max-width: 1230px;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}

.form-control {
    min-height: 44px;
    background-color: $white;
    border: 1px solid #343A40;
    border-radius: 5px;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.sm-gutters>.col,
.sm-gutters>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

select {
    min-height: 40px;
    background-image: url(../img/select-arrow.svg);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: top 14px right 12px;
    min-width: 130px;
    background-size: 18px;
    color: $black;
    border: 1px solid #000;
    border-radius: 5px;
    &.form-control {
        color: $black;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        font-family: $secondary-font;
    }
}

.search-box {
    .btn {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        z-index: 9;
        transition: none;
        &:hover {
            img {}
        }
    }
    .form-control {
        color: #000;
    }
     ::-webkit-input-placeholder {
        color: #000;
    }
     ::-moz-placeholder {
        color: #000;
    }
     :-ms-input-placeholder {
        color: #000;
    }
     :-moz-placeholder {
        color: #000;
    }
}

label.title {
    font-weight: 700;
    @include secondary-font;
}

::-webkit-input-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

::-moz-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

:-ms-input-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

:-moz-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}