//footer
.footer {
    background: #343A40;
    color: #fff;
    padding: 42px 0 32px 0;
    font-family: $secondary-font;
    .footer_row {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr;
        margin-bottom: 16px;
        @include md {
            grid-template-columns: 1fr;
        }
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 400px;
        &:last-child {
            margin-left: auto;
            @include md {
                margin-left: 0;
                padding-top: 12px;
            }
        }
        @include md {
            max-width: 100%;
        }
    }
    .footer-logo {
        margin-bottom: 40px;
        img {}
    }
    .footer-social {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background: #fff;
                border-radius: 100px;
                transition: background 0.2s;
                img {
                    max-width: 25px;
                }
                &:hover {
                    background: #FF7D00;
                }
            }
        }
    }
    h2 {
        font-size: 21px;
        font-weight: 700;
        color: $white;
        padding-bottom: 6px;
        margin-bottom: 16px;
        font-family: $secondary-font;
    }
    .footer-contact {
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 33px auto;
        p {
            font-size: 18px;
            margin-bottom: 0;
            color: #fff;
            a {
                color: #fff;
                font-weight: normal;
                &:hover {
                    color: $secondary;
                }
            }
        }
        .footer-icon {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
        span {
            font-size: 18px;
            line-height: 1.3;
        }
        .font-weight-bold {
            font-family: 'Inter', Arial, sans-serif;
            font-weight: 700;
        }
        strong {
            margin-bottom: 10px;
        }
    }
    .footer-links {
        li {
            margin-bottom: 8px;
            a {
                color: #fff;
                font-size: 16px;
                text-decoration: underline;
                font-weight: 700;
                &:hover {
                    color: $sand-light;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .footer-divider {
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        margin: 24px 0 20px 0;
    }
    small {
        font-size: 14px;
        line-height: 1.3;
        color: #fff;
        opacity: 1;
    }
    @media (max-width: 767.98px) {
        .footer-social {
            margin-bottom: 32px !important;
        }
    }
}