//Header
.main_header {
    position: fixed;
    background: $white;
    z-index: 99;
    width: 100%;
    top: 0px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    a {
        text-decoration: none;
        font-weight: 700;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 100%;
        padding: 20px 16px;
        font-size: 14px;
        color: $black;
        font-weight: bold;
        margin-right: 0px;
        top: -65px;
        // background-color: #fff;
        // width: 190px;
        // height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 0px;
        }
    }
    .container {
        max-width: 1370px;
    }
    .container-fluid {
        padding-left: 30px;
        padding-right: 0px;
        @media (max-width: 1199.9px) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .navbar {
        padding: 16px 0px;
        .head_wrap {
            display: flex;
            width: 100%;
            align-items: center;
        }
    }
    .container {
        align-items: flex-start;
    }
    .top_header {
        background: #fff;
    }
    .top_header_cont {
        margin-left: auto;
        z-index: 9;
        padding-top: 0px;
        display: flex;
        justify-content: flex-end;
    }
    .navbar {
        ul {
            list-style: none;
            padding: 0;
        }
        .container-fluid,
        .container {
            align-items: center;
        }
    }
    .social_media {
        @include flex;
        padding-right: 5px;
        ul {
            @include flex;
            margin: 0;
            padding: 0px;
            list-style: none;
            visibility: visible;
            li {
                margin-right: 5px;
            }
        }
        a {
            padding: 3px 3px;
            width: 25px;
            height: 25px;
            @include all;
            border-radius: 100px;
            background-color: $black;
            img {
                max-width: 18px;
                max-height: 16px;
            }
            &:hover {
                background: $primary;
            }
        }
    }
    .top_menu {
        @include flex;
        align-items: center;
        ul {
            @include flex;
            align-items: center;
            margin-bottom: 0;
            padding-right: 10px;
            padding-left: 20px;
            list-style: none;
            li {
                position: relative;
                margin: 0px 10px;
                &::after {
                    content: "";
                    position: absolute;
                    background: $primary;
                    height: 18px;
                    width: 1px;
                    right: -10px;
                    top: 14px;
                }
                &:last-child::after {
                    display: none;
                }
            }
            a {
                color: $primary;
                font-size: 15px;
                padding: 14px 10px;
                display: inline-block;
                position: relative;
                font-weight: 600;
                font-family: $primary-font;
                img{
                    margin-left: 4px;
                }
            }
            a:hover {
                color: $secondary;
                text-decoration: underline;
                img{
                    filter: brightness(0) saturate(100%) invert(29%) sepia(77%) saturate(1212%) hue-rotate(134deg) brightness(93%) contrast(99%);
                }
            }
            li:last-child a::after {
                display: none;
            }
        }
        .soc_nav_wrap {
            display: flex;
            align-items: center;
        }
    }
    .top_search {
        display: flex;
        margin-right: 0px;
        max-width: 185px;
        .form-control {
            min-height: 40px;
            padding: 2px 10px;
            border-radius: 0px;
            max-width: 250px;
            height: auto;
        }
        .searchbardiv {
            max-width: 250px;
            display: none;
        }
        .buttonsearch {
            background: none;
            border: 0;
            img {
                max-width: 25px;
            }
        }
        .innericon {
            background-image: url(../img/search-grey.svg) !important;
            background-size: 18px !important;
            svg {
                display: none !important;
            }
        }
        .asp_main_container {
            overflow: visible !important;
            border-radius: 0;
            box-shadow: none !important;
        }
        .probox {
            border: 1px solid #fff !important;
            overflow: visible !important;
            height: auto;
            width: 185px;
            background: #fff !important;
        }
        .proinput input.orig {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
         ::-webkit-input-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
         ::-moz-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
         :-ms-input-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
         :-moz-placeholder {
            font-size: 14px !important;
            color: #36393f !important;
            border-bottom: 0 !important;
            padding-bottom: 4px !important;
            font-weight: normal !important;
        }
        .promagnifier {
            background: none !important;
            border-radius: 0px 0px 0px 0px !important;
            &:hover {
                svg {}
            }
        }
        input.orig,
        .probox,
        .promagnifier,
        .innericon,
        .proclose {
            height: 38px !important;
        }
    }
    .nav_bottom {
        margin-top: 0px;
        margin-left: auto;
    }
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        >li:focus-within>ul {
            display: block !important;
            visibility: visible !important;
            opacity: 1 !important;
            ul {}
        }
        >li {
            position: relative;
            margin: 0px 0px;
            >a {
                font-size: 21px;
                padding: 10px 12px 10px 12px !important;
                text-align: center;
                @include all;
                line-height: 24px;
                position: relative;
                color: $black!important;
                font-weight: 700;
                font-family: $primary-font !important;
                position: relative;
               
            }
            @include xl {
                &:hover {
                    .dropdown-menu,
                    .megamenu {
                        display: block;
                    }
                }
                .dropdown-menu,
                .megamenu {}
            }
            &:hover {
                >a {
                    color: $secondary !important;
                    background: $white;
                    text-decoration: underline;
                }
            }
            &:last-child>a {}
        }
        .dropdown-menu {
            width: 325px;
            border-radius: 0px;
            padding:16px 16px 16px 16px;
            text-align: left;
            margin-top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-top: 5px solid $primary;
            top: 100%;
            border-radius: 0;
            position: absolute;
            >li {
                margin-bottom: 8px;
                position: relative;
                >a {
                    color: $black;
                    text-align: left;
                    display: block;
                    padding: 0px 0px;
                    font-family: $secondary-font;
                    font-size: 18px;
                    font-weight: 700;
                    &:hover {
                        text-decoration: underline;
                        color: $secondary;
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
            a {
                white-space: normal;
                background: none;
                color: $black;
                font-weight: 500;
                &:hover {
                    color: $primary;
                }
            }
            .mega-submenu {
                padding-left: 20px;
                display: none;
                margin-bottom: 5px;
                li {
                    margin-bottom: 10px;
                    position: relative;
                    a {
                        font-size: 18px;
                        font-weight: normal;
                        color: #000;
                        padding: 8px 0px;
                        display: block;
                        &:hover {
                            color: $red;
                            text-decoration: none;
                        }
                    }
                }
                ul {
                    border-left: 1px solid $primary;
                    padding-left: 10px;
                    margin-top: 8px;
                    li {
                        a {
                            padding: 0px 0px;
                        }
                    }
                }
                >li {
                    margin-bottom: 0px;
                    >a {
                        padding: 3px 0px;
                    }
                }
            }
            .current_page_item,
            .current-menu-item {
                a {
                    color: $primary;
                }
            }
        }
    }
    .plus-minus {
        position: absolute;
        top: 7px;
        right: -5px;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover::after {
            color: $red !important;
        }
        &:after {
            content: "";
            color: $primary;
            font-weight: 700;
            content: "+";
            font-size: 26px;
        }
        &.minus-icon {
            &:after {
                content: "\2212";
            }
        }
    }
    .navbar-nav> {
        li.current_page_ancestor,
        li.current-menu-ancestor,
        li.current-page-parent,
        li.current_page_item,
        li.current-menu-item,
        li.current-page-ancestor {
            >a {
                color: $primary !important;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 10px;
                    right: 10px;
                    width: calc(100% - 20px);
                    height: 5px;
                    background: $red;
                    @media (max-width: 1199.9px) {
                        left: 0px;
                        right: 0px;
                        width: calc(100% - 0px);
                    }
                }
            }
        }
    }
    .megamenu {
        display: none;
        position: absolute;
        background: #fff;
        width: 600px;
        padding: 20px 50px;
        border: 0;
        transform: translateX(-50%);
        left: 50%;
        box-shadow: 0px 3px 6px #00000029;
        a {
            font-weight: 500;
            color: $black;
            font-size: 18px;
            &:hover {
                color: $primary;
            }
        }
        li {
            margin-bottom: 10px;
        }
        ul.sidemenu {
            column-count: 2;
            width: 100%;
        }
        .current_page_item,
        .current-menu-item {
            a {
                color: $primary;
            }
        }
    }
}

//language selector
.select_language {
    display: flex;
    margin: 0px 2px;
    position: relative;
    padding-left: 0px;
    padding-right: 10px;
    select {
        cursor: pointer;
        background: none;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-repeat: no-repeat;
        font-size: 14px;
        color: #000 !important;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        background-position: left;
        font-family: $secondary-font !important;
        text-transform: none;
        min-height: 40px;
        min-width: 100px;
        option {
            font-size: 16px;
            color: $black;
        }
        &:hover {}
    }
    select::-ms-expand {
        display: none;
    }
    >div {
        display: flex;
    }
}

//Header end
//Responsive header
@media (max-width:1199.9px) {
    .top_header {
        display: none;
        background-color: #E7E9E9 !important;
    }
    .main_header {
        background-color: #E7E9E9;
        .navbar {
            min-height: 0px;
            padding: 0px 0px;
            .head_wrap {
                display: block;
            }
        }
        &.headerActive{
            .top_header{
                display: block;
            }
        }
        .top_header_cont {
            padding-top: 0px;
        }
        .navbar-brand{
            position: relative;
            width: 74px;
            height: 65px;
            top: 0px;
        }
        .navbar-brand img {
            max-width: 74px;
        }
        .logo_wrap {
            padding-left: 24px;
            padding: 8px 16px;
            background-color: #fff;
        }
        .top_search {
            width: 100%;
            padding: 20px 30px;
            max-width: 100% !important;
            padding-bottom: 12px;
            justify-content: center;
        }
        .top_menu {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            ul{
                padding-left: 0px;
                a{
                    padding-left: 0px;
                    padding: 0px 0px;
                }
                li{
                    margin-bottom: 8px;
                    &::after{
                        display: none;
                    }
                }
            }
        }
        .top_inner_menu {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            flex-wrap: wrap;
            a {
                color: #000;
                font-weight: bold;
                font-size: 16px;
                display: block;
            }
            li {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .nav_bottom {
            justify-content: flex-start;
            width: 100%;
            flex-direction: column;
            margin-top: 0px;
        }
        .navbar-toggler {
            margin-right: 0;
            border-radius: 0px;
            height: 82px;
            width: 75px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            outline: 0 !important;
            position: absolute;
            right: 0px;
            top: 0px;
            .icon-bar {
                width: 30px;
                height: 4px;
                background: #003B71;
                display: block;
                margin-bottom: 5px;
                border-radius: 100px;
                position: relative;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
            }
            &.active {
                .icon-bar:nth-of-type(1) {
                    top: 12px;
                    transform: rotate(45deg);
                }
                .icon-bar:nth-of-type(2) {
                    background-color: transparent;
                }
                .icon-bar:nth-of-type(3) {
                    top: -6px;
                    transform: rotate(-45deg);
                }
            }
        }
        .social_media ul li {
            margin-right: 8px;
        }
        .megamenu {
            position: static;
            width: 100%;
            transform: none;
            box-shadow: none;
            border-top: 5px solid #0033A1;
            border-bottom: 5px solid #0033A1;
            padding: 15px;
            a {
                font-size: 16px;
            }
            ul.sidemenu {
                column-count: 1;
            }
            li {
                margin-bottom: 18px;
            }
        }
        .navbar-nav {
            margin-top: 0px;
            width: 100%;
            flex-direction: column;
            background-color: #E7E9E9;
            padding: 24px 0px !important;
            >li {
                display: block;
                margin: 0px 24px;
                margin-bottom: 8px !important;
                >a {
                    justify-content: flex-start;
                    padding: 8px 0px 8px 0px !important;
                    font-size: 21px;
                    font-weight: 700;
                    min-height: 0;
                    color: $black !important;
                }
                >.dropdown-menu {
                    position: static;
                    width: 100%;
                    transform: none;
                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    box-shadow: none;
                    border: 0px;
                }
            }
            .plusMinus {
                position: absolute;
                width: 30px;
                height: 30px;
                right: 15px;
                text-align: center;
                cursor: pointer;
                top: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after {
                    content: '+';
                    position: absolute;
                    right: 0px;
                    background-repeat: no-repeat;
                    display: block;
                    right: 6px;
                    font-weight: 600;
                    font-size: 28px;
                    color: #1E2859;
                }
                &.minsicon::after {
                    content: '\2212';
                }
            }
        }
        .plus-minus {
            right: 10px;
        }
        .headerActive {
            max-height: calc(100vh - 30px);
            overflow: auto;
        }
        .navbar-nav>li:hover>a::after {
            display: none;
        }
    }
}

@media (min-width:1200px) {
    .logged-in .main_header {
        top: 32px;
    }
    .main_header .navbar-nav>li:last-child>.dropdown-menu {
        left: auto;
        right: -20px;
    }
}
