//Tribe events
.tribe-events {
    /* top searchbar*/
    .tribe-events-header__events-bar {
        border: 1px solid $black !important;
        .tribe-events-c-search__input-control-icon-svg {
            width: 20px;
            display: none;
        }
        .tribe-common-form-control-text__input {
            background-image: url(../img/search-blue.svg);
            background-repeat: no-repeat;
            background-position: center left 15px;
            @include md {
                background-position: center left 0px;
                padding-left: 30px !important;
            }
        }
        .tribe-events-c-search__button {
            background: #ebebeb !important;
            color: #000 !important;
            font-size: 18px !important;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Proxima Nova Rg";
            padding: 8px 24px !important;
            &:hover {
                background: #e1e1e1 !important;
            }
        }
        .tribe-events-c-events-bar__views {
            display: none;
        }
    }
    &.tribe-common {
        .tribe-events-header__events-bar.tribe-events-c-events-bar {
            .tribe-events-c-events-bar__filter-button-container {
                display: flex !important;
                visibility: visible;
                margin-left: 20px;
                .tribe-common-a11y-visual-hide {
                    position: static;
                    clip: auto;
                    height: auto;
                    width: auto;
                    font-size: 16px;
                    font-weight: 700;
                    color: $primary !important;
                    @include primary-font;
                    text-decoration: underline;
                }
                .tribe-events-c-events-bar__filter-button {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-right: 8px;
                        path {
                            fill: #1e2859 !important;
                        }
                    }
                }
            }
        }
        .tribe-events-header__top-bar {
            .tribe-events-c-top-bar__today-button {
                background: #ebebeb !important;
                color: #000 !important;
                font-size: 18px !important;
                text-transform: uppercase;
                font-weight: bold;
                font-family: "Proxima Nova Rg";
                padding: 6px 24px !important;
                border: 0;
                &:hover {
                    background: #e1e1e1 !important;
                }
            }
        }
    }
    /* top search bar ends*/
    /* date area starts*/
    .tribe-events-header__top-bar {
        .tribe-events-c-top-bar__datepicker-time {
            font-size: 36px;
            font-weight: bold;
            color: $black;
            text-transform: uppercase;
        }
        .tribe-events-c-top-bar__datepicker-button-icon-svg {
            height: 15px;
            width: 18px;
            margin-left: 10px;
            path {
                fill: $primary;
            }
        }
        .tribe-events-c-top-bar__nav-list-item {
            padding-right: 6px;
        }
        .tribe-common-c-btn-icon:not(:disabled) {
            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
    /* date area ends*/
    /* filter Bar*/
    .tribe-filter-bar {
        .tribe-filter-bar__form-heading {
            color: $black;
            font-size: 16px;
            @include primary-font;
            font-weight: bold;
        }
        .tribe-filter-bar__filters {
            .tribe-filter-bar-c-filter {
                border: 1px solid $black;
            }
            .tribe-filter-bar-c-filter__toggle {
                padding: 10px 10px;
            }
            .tribe-filter-bar-c-filter__filter-fields {
                padding-left: 10px;
                padding-right: 10px;
            }
            .tribe-filter-bar-c-filter__toggle-icon {
                background-image: url(../img/select-arrow.svg);
                width: 18px;
                height: 10px;
                background-repeat: no-repeat;
                svg {
                    display: none;
                }
                &.tribe-filter-bar-c-filter__toggle-icon--minus {
                    @include rotate;
                }
            }
        }
    }
    /* filter Bar ends */
    /* List area*/
    .tribe-events-calendar-list {
        .tribe-events-calendar-list__month-separator {
            display: none;
        }
        .tribe-events-calendar-list__event-row {
            border-radius: 5px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15) !important;
            @include md {
                flex-wrap: wrap;
                padding-top: 0 !important;
                display: grid;
                grid-template-columns: 60px auto;
                padding-left: 0px !important;
                padding-right: 0px !important;
                .tribe-events-calendar-list__event-featured-image-wrapper {
                    grid-column: 1/3 !important;
                }
                .tribe-events-calendar-list__event-wrapper {}
            }
            padding: 16px !important;
            .tribe-events-calendar-list__event-wrapper {
                padding-left: 10px !important;
                padding-right: 10px !important;
                .tribe-events-calendar-list__event-featured-image-link {
                    opacity: 1 !important;
                }
            }
            .tribe-events-calendar-list__event-date-tag {
                min-width: 60px;
                width: 60px;
                padding-left: 0px !important;
                padding-right: 0px !important;
                @include md {
                    width: 100%;
                }
                .tribe-events-calendar-list__event-date-tag-weekday {
                    font-size: 16px !important;
                    color: $black !important;
                    font-family: $primary-font !important;
                }
                .tribe-events-calendar-list__event-date-tag-daynum {
                    font-size: 36px !important;
                    color: $primary !important;
                    font-family: "Inter", sans-serif !important;
                    font-weight: bold !important;
                }
            }
            .tribe-events-calendar-list__event-details {
                .tribe-events-calendar-list__event-datetime {
                    color: #504d49;
                }
                .tribe-events-calendar-list__event-title {
                    font-size: 21px;
                    a {
                        color: $primary;
                        text-transform: uppercase;
                        &:hover {
                            color: $red;
                            border-color: $red;
                        }
                    }
                }
                .tribe-events-status-label {
                    .tribe-events-status-label__text {
                        color: #9e1616;
                        font-family: "Inter", sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        background: #efefef;
                        padding: 8px;
                        margin-bottom: 10px;
                        display: table;
                        text-transform: uppercase;
                    }
                }
                @include md {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            .tribe-events-calendar-list__event-featured-image-wrapper {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            .tribe-events-calendar-list__event {
                margin-right: -10px !important;
                @include md {
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
                &:not(.has-post-thumbnail) {
                    .tribe-events-calendar-list__event-details {}
                }
            }
        }
    }
    //bottom area
    .tribe-events-calendar-list-nav {
        .tribe-events-c-nav__list-item {
            a {
                color: $primary !important;
                font-size: 16px;
                font-weight: bold;
                font-family: $primary-font;
                svg {
                    path {
                        fill: $primary !important;
                    }
                    &.tribe-events-c-nav__prev-icon-svg {
                        margin-right: 10px;
                    }
                    &.tribe-events-c-next-icon-svg {
                        margin-left: 10px;
                    }
                }
                &:hover {
                    color: $red !important;
                    svg {
                        path {
                            fill: $red !important;
                        }
                    }
                }
            }
        }
    }
    .tribe-events-c-subscribe-dropdown {
        .tribe-events-c-subscribe-dropdown__button {
            color: #fff;
            padding: 8px 16px;
            display: inline-block;
            text-align: center;
            position: relative;
            background: $secondary !important;
            border-radius: 0px;
            font-size: 18px;
            text-decoration: none;
            font-weight: bold;
            border: 0;
            text-transform: uppercase;
            &:hover {
                background: #c50105 !important;
                color: #fff;
                text-decoration: none;
                img {}
            }
            img {
                margin-right: 10px;
            }
            &:focus {
                color: #fff;
            }
        }
    }
    @include md {
        .tribe-events-header {
            justify-content: flex-end !important;
        }
        .tribe-events-header__events-bar {
            margin-bottom: 20px;
            border: 0 !important;
        }
    }
    @include desk {
        .tribe-events-calendar-list__event-wrapper {
            .tribe-events-calendar-list__event-featured-image-wrapper {
                width: 30% !important;
                .tribe-events-calendar-list__event-featured-image {
                    aspect-ratio: 248/164;
                    object-fit: cover;
                }
            }
            .tribe-events-calendar-list__event-details {
                width: 70% !important;
            }
        }
    }
}

//Event Details
.wp-site-blocks {
    padding: 0px !important;
    margin: 0px !important;
    .tec-block__single-event {
        margin: 0px;
        .tribe-events-pg-template {
            max-width: 1230px !important;
            padding: 0px 15px !important;
            overflow: hidden;
            .container {
                padding: 0px;
            }
        }
    }
    .main_header {
        left: 0px;
    }
}

@media (max-width:768px) {
    .tribe-events-calendar-list__event-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
        display: none !important;
    }
}

@media (max-width:767px) {
    .tribe-events-c-events-bar__search-container {
        display: block !important;
        position: static !important;
        width: 100% !important;
    }
    .tribe-events .tribe-events-c-events-bar__search-container {
        padding: 0px !important;
    }
    .tribe-events-c-events-bar__search-button,
    .tribe-events.tribe-common .tribe-events-header__events-bar.tribe-events-c-events-bar .tribe-events-c-events-bar__filter-button-container {
        display: none !important;
    }
    .tribe-filter-bar {
        display: block !important;
        position: static !important;
        width: 100% !important;
        padding: 0px !important;
    }
    .tribe-events .tribe-events-header__events-bar {
        width: 100%;
    }
}